.dashboard {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    & .content {
        width: calc(100vw - 240px);
        height: 100vh;
        overflow: auto;
        padding: 5rem;
    }
}