$primary-color: #ff1a59;
$secondary-color: #38405f;
$text-color: #666b81;
$line-color: #dedede;
$background: #f2f5f8;
$sky-color: #25ced1;
$placeholder-color: rgba(0, 0, 0, 0.2);
$error-color: #ff4343;
